/**

About styles css file


*/



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #c4cce1;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #3057cf;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3057cf;
}

.container {
  display:flex;
  justify-content: center;
  width:100%;
  border-radius:5px;

}

.contact-form {
  border-radius:5px;
  padding:4%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-heading {
  display:flex;
  justify-content: center;
  width:auto;
}

p {
  text-indent: 50px;
}

.about-description {
  display:flex;
  width:100%;
  justify-content: center;
}

.contact-section{
  padding-top:5%;
}

.contact-heading {
  display:flex;
  justify-content:center;
  width:100%;
  padding-top:15%;
  padding-bottom:2%;
}


@media (max-width:768px) {
  .container {
    display:flex;
    justify-content: center;
    width:80%;
    border-radius:5px;
  
  }
}
