/**

About styles css file


*/


p {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: margin-left;
    text-indent: 50px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #c4cce1;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #3057cf;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3057cf;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}