/**

About styles css file


*/
.about-banner {
  background-image: url("https://www.publicdomainpictures.net/pictures/60000/velka/crazy-quilt.jpg");
  height: 500px;
  background-repeat: no-repeat;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.about-overlay{
  position: absolute;
  background-color: black;
  opacity: 25%;
  top: 0;
  height: 100%;
  width: 100%;
}

.about-banner-title{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  color: white;
  text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
	  -3px 0px 7px rgba(81,67,21,0.8), 
	  0px 4px 7px rgba(81,67,21,0.8);
  font-size: 50px;
  font-weight: 1000;
 

}




input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #c4cce1;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #3057cf;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3057cf;
}

.container {
  display:flex;
  justify-content: center;
  width:100%;
  border-radius:5px;

}

.contact-form {
  border-radius:5px;
  padding:4%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-heading {
  display:flex;
  justify-content: center;
  width:auto;
}

p {
  text-indent: 50px;
}

.about-description {
  display:flex;
  width:100%;
  justify-content: center;
}

.contact-section{
  padding-top:5%;
}

.contact-heading {
  display:flex;
  justify-content:center;
  width:100%;
  padding-top:15%;
  padding-bottom:2%;
}


@media (max-width:768px) {
  .container {
    display:flex;
    justify-content: center;
    width:80%;
    border-radius:5px;
  
  }
}
