/**

    Main style sheet for global styles

*/

.shop-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: auto;
}

.shop-row {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5%;
}




.shop-col {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: auto;
  margin: 3%;
  border-radius: 5px;
  padding: 2.5%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition:.2s;
}


.shop-img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.shop-heading {
    font-size:20px;
    padding-top:2%;

}

.shop-price {
    padding-top:6%;
    font-size:20px;
}

.shop-qty {
    margin-top:6%;
    font-size:20px;
}

.shop-button {
    background-color:#2c58bb;
    border-radius:5px;
    margin-top:6%;
    padding:3%;
    color:white;
    font-weight:300;
    font-size:16px;
    width:50%;
    border:none;
    cursor:pointer;
    transition:.2s east out;
}

