/*
    Author:         Ethan Light
    Date:           4/10/22
    Last revised:   4/10/22
    Assignment:     Semester Project
    Purpose:        Styling for home page
*/

.nav-img {   
    display: block;  
    width: 100px;         
    float: left;
}

.nav-cart {
    width: 25px;
    margin-top: 40px;
}

nav {
    background-color: #ffffff;    
    color: rgb(0, 0, 0);          
    width: 100%;                            
    text-align: center;
    font-family:Verdana, Tahoma, sans-serif;
    font-size: 15px;
    position: static;
}

nav a {
    display: inline-block; 
    width: 75px;    
    color: rgb(0, 0, 0);  
    margin: 15px;  
}

nav a:hover, nav a:active, .current {
    color: #000000;                   
}

nav a:link, nav a:visited {          
    text-align: center;     
    text-decoration: none;  
    position: relative;     
    left: 50px;             
    top: -25px;    
    padding: 5px;         
}
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }


