/*
    Author:         Ethan Light
    Date:           4/10/22
    Last revised:   4/10/22
    Assignment:     Semester Project
    Purpose:        Styling for home page

    Edit:           Fixed logo and nav bar positioning, changed background color for header
    Edited by:      Ethan Light
    Edit date:      4/20/2022
*/

.nav-img {   
    display: block;  
    width: 100px;         
    margin-left: auto; 
    margin-right: auto;
}

nav {
    background-color: #ffffff;    
    color: rgb(0, 0, 0);          
    width: 100%;            
    margin: 0;                  
    text-align: center;
    font-family:Verdana, Tahoma, sans-serif;
}

nav a {
    display: inline-block; 
    width: 75px;    
    color: rgb(0, 0, 0);    
    margin: 25px;
}

nav a:hover, nav a:active, .current {
    color: #000000;                 
    border-bottom: 2px solid #333;  
}

nav a:link, nav a:visited {      
    border-radius: 5px;     
    text-align: center;     
    text-decoration: none;  
    position: relative;     
    left: 50px;             
    top: -25px;    
    padding: 5px;         
}


